* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    transition: all 0.2s;
    background: none;
}
body{
    background: rgb(19, 26, 48);
}

header {
    height: 10vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    
    /* flex-direction: column; */
}


:root{
    --bg: #252525;
    --bg-s: #4d375d;
    --pink: #ff3585;
    --purple: #bf2feb;
}
.nav-container {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 5;
}
.circle-nav{
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--bg-s);
    z-index: 0;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 50px var(--purple);
}


.nav-line {
    background: white;
    height: 4px;
    margin: 2px 0;
    width: 30px;
    border-radius: 50px;
}


.links {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    justify-content: center;
    height: 100vh;
    background: var(--bg);
    width: 100%;
    z-index: 1;
}

.link {
    font-size: 1.2rem;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    width: fit-content;
    border-bottom: 1px solid var(--bg);
    padding: 1rem 0;
    /* background: linear-gradient(190deg, var(--purple) 20%, var(--pink) 50%);
    border-radius: 50px;
    box-shadow: 0 0 30px var(--purple); */
}
.link:last-child{
    border: none;
}

.closeBtn {
    color: #999;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    position: absolute;
    font-size: 2.5rem;
    margin: 1rem;
    cursor: pointer;
}


.closeBtn:hover {
    color: white;
    transition: 0.001s;
}

/* main */
main {
    height: 90vh;
    /* background: linear-gradient(180deg, #bf81ff, #fb81ff); */
    /* background: url(73990.jpg)no-repeat; */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#one {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.time-cont {
    flex: 1;

}

.time-counter {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 1rem auto 0rem auto;
    cursor: pointer;
    color: white;
    /* animation: over 1s infinite; */
}


@keyframes over {
    from {

        background: rgba(144, 238, 144, 0.767);
    }

    to {
        background: lightgreen;
    }
}


.time-counter p {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.text-under-time{
    color: #999;
    text-align: center;
}

#start {
    width: 100%;
    display: flex;
}

#pous {
    width: 100%;
    display: none;

}


.kilometer-mins {
    width: 90%;
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.km {
    /* background: white; */
    padding: 15px 20px;
    border-radius: 5px;
    transform: scale(0);

}



.min {

    transform: scale(0);
    /* background: white; */
    padding: 15px 20px;
    border-radius: 5px;
}


.klk {
    font-weight: 300;
}

.time-km {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.dts {
    font-size: 10px;
}


#two {
    height: 15vh;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;

}

.circle {
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 10px #fb3585; */
    cursor: pointer;
    position: relative;
    background: none;
}

.stopCircle {
    position: absolute;
    background: #bf81ff;
    width: 10px;
    top: -20%;
    right: 0;
    left: 0;
    margin: auto;
    height: 10px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    color: white;
    border: 10px solid rgb(216, 243, 253);
    /* cursor: pointer; */
    animation: rar 1s infinite;
    transition: 0.3s;
    z-index: 1;
}


@keyframes rar {
    form {
        width: 10px;
        height: 10px;
    }

    to {
        width: 260px;
        height: 260px;
        opacity: 0;
    }
}



.restart {
    /* margin: 50px 0 0 -100px; */
    border-radius: 50%;
    /* border: 5px solid rgba(104, 104, 104, 0.933); */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #555555;
    opacity: 0.3;
    /* animation: rest 1s infinite; */
    cursor: pointer;
    margin: auto;

}
.restart img{
    width: 100%;
}
@keyframes rest {
    from {
        transform: rotate(0deg);
        /* border: 8px solid var(--pink); */
        
    }
    
    to {
        transform: rotate(10deg);
        /* border: 8px solid var(--bg); */
    }
}



.stop {
    /* position: absolute; */
    /* margin: 40px 0 0 100px; */
    background: rgb(116, 116, 116);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #eeee;
    display: flex;
    color: snow;
    justify-content: center;
    align-items: center;
    padding: 5px;
    opacity: 0.2;
    cursor: pointer;

    margin: auto;
}
/* 
.resolt {
     margin: 40px 0 0 0; 
    background: #2255;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    transform: scale(0);
} 
*/
/* 
#three {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 12px;
    box-shadow: 0 0 30px -12px rgba(0, 0, 0, 0.212);

}

.contents {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    background: white;
    color: #333;
    border-radius: 5px;
    padding: 15px;
}

.Sbj {
    font-size: 14px;
}

.info-sbj {
    color: #999;
    font-size: 12px;
    font-weight: 300;
} */